.Visual__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
  width: 100px;
  margin: 8px 2px;
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 6px;
  font-size: 46px;
  background: rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.3);
  overflow: hidden;
}
