<!--About Page for Eye for AI-->
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">

  <!--jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

  <!--bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!--icons-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
  <div class="container"><a href="#" class="navbar-brand d-flex align-items-center"> <i class="fa fa-snowflake-o fa-lg text-primary mr-2"></i><strong>Snowflake</strong></a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="#" class="nav-link font-italic"> Home </a></li>
        <li class="nav-item active"><a href="#" class="nav-link font-italic"> About </a></li>
        <li class="nav-item active"><a href="#" class="nav-link font-italic"> Services </a></li>
        <li class="nav-item active"><a href="#" class="nav-link font-italic"> Contact</a></li>
      </ul>
    </div>
  </div>
</nav> -->
<header>
<img class="Header__logo" src="https://ai-gwap.appspot.com/static/media/CMU_Logo.4a37a8f1.png" alt="Carnegie Mellon University" style="padding-left:32px">
<a class="Header__link" href="/">Eye into AI</a>
</header>



<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">

      <div class="col-lg-6 order-2 order-lg-1">
        <div class="Landing_home__title__2UtE0">About Us</div>

        <h2 class="font-weight-light">We've got an Eye for AI</h2>
        <br>
        <p class=" text-muted mb-4">We are research students at Carnegie Mellon University who want to help people learn about AI image recognition. Our team is part of the Data Interaction Group in the Human-Computer Interaction Institute, led by <b>Dr. Adam Perer</b>.</p>

        <a href="https://dig.cmu.edu/" class="Landing_home__btn__22XQw">Visit the Dig Interaction Group</a>
        <!-- <button type="button" class="Landing_home__btn__22XQw">How to Play</button> -->
      </div>
      <div class="col-lg-5  mx-auto  order-lg-2"><img src="mellons.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <!-- <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Lorem ipsum dolor sit amet</h2>
        <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
    </div> -->
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">Meet current contributors:</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C5603AQEYAWmbvNRNvw/profile-displayphoto-shrink_200_200/0?e=1593648000&v=beta&t=YhONd7iOgTSudP2sPMZSK6i8ETJ5F9EKbppYKtjuKiQ" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Kazi Jawad</h5><span class="small text-uppercase text-muted">Front-End Development<br>B.S. Statistics and Machine Learning</span>

          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/kazijawad/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="kjawad@andrew.cmu.edu" class="social-link"><i class="fa fa-envelope"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/kazijawad" class="social-link"><i class="fa fa-github"></i></a></li>
            
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4D03AQHIZ3IFjush4A/profile-displayphoto-shrink_200_200/0?e=1593648000&v=beta&t=NUB6h2K5OQKKZOL6hs5AQrBSm5zkerH_rrIIiUTtfiQ" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Laura Beth Fulton</h5><span class="small text-uppercase text-muted">PM + UX Research<br>M.S. Human-Computer Interaction</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/laurabethfulton/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="lfulton@andrew.cmu.edu" class="social-link"><i class="fa fa-envelope"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/laurafulton" class="social-link"><i class="fa fa-github"></i></a></li>
            
          </ul>
        </div>
      </div>
      <!-- End-->


      <!-- Previous Team-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C5603AQFyAl138zTQ-g/profile-displayphoto-shrink_200_200/0?e=1593648000&v=beta&t=_48vGSvVJ7p3ecbgPWUF34nR8XlgEk3o8fsFRucmbxM" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Justine Cho</h5><span class="small text-uppercase text-muted">Machine Learning<br>B.S. Computer Science with HCI Focus </span>
            <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/justine-cho-1698a694/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="justinec@andrew.cmu.edu" class="social-link"><i class="fa fa-envelope"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/jcho17" class="social-link"><i class="fa fa-github"></i></a></li>
            
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4E03AQH3IzwNpmIKQw/profile-displayphoto-shrink_200_200/0?e=1593648000&v=beta&t=KSOhjVheBNRij8xNugmaDLmiX9LDLyrDwRwCVPudd7k" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Jiachen (Lilian) Gong</h5><span class="small text-uppercase text-muted">Data Analyst<br> M.S. Educational Technology (METALS)</span>
         <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/jiachengong/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="jgong3@andrew.cmu.edu" class="social-link"><i class="fa fa-envelope"></i></a></li>
            
          </ul>
        </div>
      </div>
    </div>
      <!-- End-->



            <!---PAST MEMBERS-->

      <div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <p class="font-italic text-muted">Meet past contributors:</p>
      </div>
    </div>



    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4E03AQEAxt5MWteaqA/profile-displayphoto-shrink_200_200/0?e=1593648000&v=beta&t=gs1EJyH3JjEqb_ZXnypnKWgTrQs_d2ck9mGMkcSQorw" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Zhendong (Mike) Yuan</h5><span class="small text-uppercase text-muted">Full-Stack Engineering<br>B.S. Computer Science</span>

          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/zhendong-yuan/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="zhendony@andrew.cmu.edu" class="social-link"><i class="fa fa-envelope"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/yzd1998111" class="social-link"><i class="fa fa-github"></i></a></li>
            
          </ul>
        </div>
      </div>
      <!-- End-->



      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4E03AQHEPE2DnmRtCw/profile-displayphoto-shrink_200_200/0?e=1593648000&v=beta&t=0CQjmybr09V1skvQ5UALtT_et41UAJt_D-hF_Lk5RIY" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Ja Young Lee</h5><span class="small text-uppercase text-muted">UX Design<br>M.S. Human-Computer Interaction</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/jyounglee/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/jayolee" class="social-link"><i class="fa fa-github"></i></a></li>
            
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Previous Team-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4E03AQHUTGYACE93_A/profile-displayphoto-shrink_200_200/0?e=1593648000&v=beta&t=nouThx5_V6N7if6YFBizlzNavZaoLG4qBhvBNfEwG5Y" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Qian Wang</h5><span class="small text-uppercase text-muted">UX Design<br>M.S. Human-Computer Interaction</span>
            <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/qian-wang-11513314a/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
             <li class="list-inline-item"><a href="https://github.com/WangQianEve" class="social-link"><i class="fa fa-github"></i></a></li>
     
            
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4E03AQEnxoKDJdpeMg/profile-displayphoto-shrink_200_200/0?e=1593648000&v=beta&t=o_TOZ2ZxOJ072ckJjZRdfYpuO7JBqVvuQL4t7PHXI5o" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Shivang Gupta</h5><span class="small text-uppercase text-muted">UX DEVELOPER<br> M.S. Human-Computer Interaction</span>
         <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/shivanggupta7/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
           <li class="list-inline-item"><a href="https://github.com/shivanggupta" class="social-link"><i class="fa fa-github"></i></a></li>
            
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

</body>

<footer class="bg-light pb-5">
  <div class="container text-center">
    <p class="font text-muted mb-0">Designed and developed at Carnegie Mellon University, © 2020</p>
  </div>
</footer>



</html>
