.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;

  &__main {
    position: fixed;
    background: #EEE;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 39px 72px;
  }

  &__btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 36px;
    background-color: #EEE;
    border: none;
    cursor: pointer;
  }

  &__display--block {
    display: block;
  }

  &__display--none {
    display: none;
  }
}
