*, *::before, *::after {
  font-weight: 400;
}

html {
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-style: normal;
}

body {
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}
