@mixin transform($transform) {
  -webkit-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}
@mixin keyframes( $animationName )
{
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
@mixin animation($str) {
	animation: #{$str};
  }

@include keyframes(loading) {
	from{
		@include transform(rotate(0))
  }
	to {
		@include transform(rotate(360deg));
	}
}

$maincolor : #C41E3A;
$plyr1 : #F2A900;
$plyr2 : #01843D;
$plyr3 : #002D72;

$shadow: 0px 0px 24px rgba(56, 178, 205, 0.3);


body, .App{
  
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  div, a, img{
    box-sizing: border-box;
  }
    .header{
      width: 100%;
      padding: 0 32px;
      height: 54px;
      margin-bottom:60px;
      background: #fff;
      box-shadow: 0px 1px 4px rgba(39, 75, 130, 0.2);
      z-index: 999;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
        .title{
          font: {
            size: 15px;
            weight: 600;
          }
        }
        .menuBar{
          display: flex;
          width: 30%;
          max-width: 220px;
          justify-content: space-between;
          height:54px;
          align-items: center;
          font: {
            size: 14px;
          }
          .menu{
            height: 100%;
            align-items: center;
            display: flex;
            color: rgba(0,0,0,0.4);
            cursor: pointer;
            &.active{
              color: $maincolor;
              font-weight: bold;
              border-bottom: 4px solid $maincolor;
            }
          }
          .profileWrapper{
            width: 40px;
            height: 40px;
            border-radius: 25px;
            overflow: hidden;
            border: 1px solid rgba(0,0,0,0.4);
          }
        }
        .profile{
          width: 132%;
          @include transform(translateX(-6px))
        }
    }
    .App{
      max-width: 2000px;
      margin:0 auto;
    }
    #blue{
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(220, 242, 255, 0.3) 0%, #BBDAFF 100%);
    }
    .main{
      
      transition: .3s;
      position:relative;
      // top: 50%;
      width: 100%;
      max-width: 1400px;
      margin: 10vh auto;
      // @include transform(trnaslateY(-50%));
      &.vertCenter{
        height: calc(100vh - 340px);
        max-height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
      &.round{
        font: {
          family: 'VT323', monospace;
          size: 32px;
        }
      }
      //matching
      .matching{
        width: 100%;
        
        .title{
          color: rgba(0,0,0,0.8);
          margin-bottom: 30px;
          font: {
            size: 40px;
            family: 'VT323', monospace;
            
          }
          &.round{
            font-size: 50px;
          }
        }
        
      }
      .profiles{
          text-align: center;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .profile{
            margin: 30px;
            width: 160px;
            height: 230px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            background: #fff;
            border-radius: 6px;
            border-top: {
              left-radius: 6px;
              right-radius: 6px;
            }
            &.plyr1{
              border: 2px solid $plyr1;
              .playerNum{
                background :$plyr1;
              }
            }
            &.plyr2{
              border: 2px solid $plyr2;
              .playerNum{
                background :$plyr2;
              }
            }
            &.plyr3{
              border: 2px solid $plyr3;
              .playerNum{
                background :$plyr3;
              }
        
            }
            .playerNum{
              width: 160px;
              height: 30px;
              color: #fff;
              line-height: 1.5;
              font: {
                family: 'VT323', monospace;
                size: 18px;
              }
            }
            .name{
              margin-bottom:30px;
              font: { 
                family:'Share Tech Mono', monospace;
                size: 18px;
              }
             
            }
            .photo{
              
              width: 100px;
              height: 100px;
              border-radius: 50px;
              margin-bottom: 10px;
              text-align: center;
              overflow: hidden;
              border: 1px solid rgba(0,0,0,0.2);
              background: rgba(0,0,0,0.2);
              img{
                height: 103%;
                @include transform(translateX(-22px));
              }
            }
          }
          .expla{
            @include transform(translateY(-10px));
            font: {
              size: 32px;
              family: 'VT323', monospace;
            }
          }
        }
      //select-category
      .select-Category{
        .photo-row{
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 95%;
          max-width: 1200px;
          margin: 0 auto;
          img{
            transform: .3s;
            border: 6px solid #fff;
            align-self: center;
            cursor: pointer;
            display: block;
            width: 25%;
            margin: 10px;
            border-radius: 16px;
            &:hover{
              border: 6px solid $maincolor;
            }
          }
        }
      }

      //game
      .game{
        width: 100%;
        padding: 30px 60px;
        height: calc(100vh - 340px);
        display:flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .side{
        height: 100%;
        position: relative;
        
        
        &.left{width: 270px;
          display: flex;
        flex-direction: column;
        }
        .answerBox{
          width: 250px;
          height: 364px;
          border-radius: 6px;
          padding: 10px;
          margin:32px 10px;
          box-shadow:$shadow;
          background: #fff;
            .answerImg{
              width: 100%;
              border-radius: 6px;
              margin: 0;
            }
            .answerList{
              display: flex;
              flex-direction: column;
              align-content: left;
              .answer{
                font: {
                  family: "share tech mono", "monospace";
                  size: 14px;
                }
                align-self: flex-start;
                margin: 4px 0;
                color: $maincolor;
                border: 1px solid $maincolor;
                border-radius: 15px;
                padding: 4px 12px;
              }
            }
          
        }
        .profileWrapper{
          display: flex;
          flex-direction: column;
          justify-content: center;
          .profiles{
            .profile{
              border-radius: 6px;
              justify-content: center;
              width: 90px;
              height: 140px;
              margin: 0 12px;
              .name{
                font-size: 14px;
                margin: 6px 0;
              }
              .photo{
                width: 56px;
                height: 56px;
                img{
                  width: 100%;
                  object-fit: cover;
                  transform: none;
                }
              }
              .score{
                font-size: 14px;
                width: 42px;
                text-align: center;
                color: #fff;
                border-radius: 10px;
                padding: 2px 0;
                font-family:'Share Tech Mono', monospace;
                &.plyr1{
                  background: $plyr1;
                }
                &.plyr2{
                  background: $plyr2;
                }
                &.plyr3{
                  background: $plyr3;
                }
              }
              &.mainGame{
                width: 80px;
                margin:0 8px;
                .name{
                  font-size: 13px;
                }
              } 
            }
          }
        }
        .convo{
          background: #fff;
          width: 260px;
          height: 540px;
          border-radius: 6px;
          box-shadow: $shadow;
          overflow: hidden;
          font-size: 14px;
          .convo_inner{
            width: 260px;
            height: 470px;
            overflow-y: scroll
          }
          .profile{
            width: 32px;
            height: 32px;
            overflow: hidden;
            border-radius: 16px;
            border: 1px solid rgba(0,0,0,0.4);
            img{
              width: 160%;
              @include transform(translateX(-10px));
            }
          }
          .convoWrap{
           display: flex;
           justify-content: flex-end;
           align-items: center;
           margin: 16px 8px;
            
          }
          .bubble{
            color: #fff;
            padding: 6px 12px;
            margin-right:8px;
            border-radius: 20px;
            &.plyr1{
              background: $plyr1;
            }
            &.plyr2{
              background: $plyr2;
            }
            &.plyr3{
              background: $plyr3;
            }
            &.all{
              height: 33px;
              padding:0 16px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgba(0,0,0,0.2);
              .dot{
                @include keyframes (dots){
                  from{
                    opacity: 1;
                  }
                  28%{
                    opacity: 1;
                  }
                  36%{
                    opacity: .4;
                  }
                  92%{
                    opacity: .4;
                  }
                  to{
                    opacity: 1;
                  }
                }
               @include animation(dots);
               animation-duration: .6s;
               animation-iteration-count: infinite;
                height: 10px;
                width: 10px;
                margin:0 4px;
                border-radius: 6px;
                background: rgba(0,0,0,0.2);
                &:nth-child(2){
                  animation-delay: .2s;
                }
                &:nth-child(3){
                  animation-delay: .4s;
                }
              }
            }
          }
          .typing{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0 8px;
            padding: 0 8px;
            height: 47px;
            .profileWrap{
              width:60px;
              height: 33px;
              margin-left: 8px;
              position:relative;
            .profile{    
              position:absolute;
              width: 32px;
              height: 32px;
              top: 0;
              right: 24px;
              overflow: hidden;
              border-radius: 16px;
              border: 1px solid rgba(0,0,0,0.4);
              img{
                width: 160%;
                @include transform(translateX(-10px));
              }
              &:nth-child(3){
                right: 36px;
              }
              &:nth-child(2){
                right: 30px;
              }
            }

          }
          }
        }
        .answers{
          display: flex;
          flex-direction: column-reverse;
          position: relative;
          width: 170px;
          margin: 90px 30px 130px;
          height: 96px;
          
          .answer{
            font: {
              family:'Share Tech Mono', monospace;
              size: 18px;
            }
            position: absolute;
            right: 30px;
            padding: 10px 20px;
            background: $maincolor;
            border-radius: 30px;
            @include transform(translateY(-50%));
            &:nth-child(1){
              bottom: 0;
            }
            &:nth-child(2){
              bottom: 60px;
              opacity: .5;
            }
            &:nth-child(3){
              bottom: 120px;
              opacity: .3;
            }
            &.plyr1{
              background: $plyr1;
            }
            &.plyr2{
              background: $plyr2;
              color: #fff;
            }
            &.plyr3{
              background: $plyr3;
              color: #fff;
            }
            &.grey{
              width: 100px;
            }
          }
        }
      }
      .visDisplay{
        background: #fff;
        border-radius: 6px;
        width: 490px;
        height: 450px;
        padding: 32px 16px;
        box-shadow: $shadow;
        font-family: "VT323", "monospace";
        line-height: 1.5;
        margin-top: 32px;
        .title{
          font-size: 30px;
          margin-bottom: 0
        }
        .hint{
          font-size: 22px;
          color: $maincolor;
          .title{
            font-size: 22px;
            color: #000;
          }
          #hintContent{
            background-color: $maincolor;
            &.active{
              background-color: #fff;
            }
          }
        }
      }
      .selected-vis{
        margin-top: 48px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;
        .visWrapper{
          width: 100px;
          height:100px;
          border: 2px solid rgba(0,0,0,0.2);
          border-radius: 6px;
          overflow: hidden;
        }
        img{
          align-self: center;
          width: 100%

        }
      }
      #answerWrap{
        position: fixed;
        width: 382px;
        top: calc(110vh - 410px);
        left: 50%;
        height: 150px;
        display: flex;
        flex-direction: column-reverse;
        @include transform(translateX(-50%));
        
        .tAnsr{
          &:nth-child(3){
            opacity: .3;
          }
          &:nth-child(2){
            opacity: .5;
          }
          align-self: baseline;
          background: $maincolor;
          color: #fff;
          padding: 10px 20px;
          border-radius: 20px;
          margin-bottom: 10px;
          font: {
            family:'Share Tech Mono', monospace;
            size: 18px;
          }
        }
      }
      #tAnsrWrap{
        position: fixed;
        top: calc(110vh - 270px);
        left: 50%;
        display: flex;
      
        @include transform(translateX(-50%));
        #answerType{
          transition: .3s;
          align-self: center;
          font: {
            family:'Share Tech Mono', monospace;
            size: 18px;
          }
          padding: 10px 20px;
          border-radius: 20px;
          border: 2px solid $maincolor;
          &:focus{
            outline-width: 0;
          }
        }
        .btn{
          text-transform: uppercase;
          background: $maincolor;
          padding: 10px 20px ;
          border: 2px solid $maincolor;
          color: #fff;
          font: {
            family:'Share Tech Mono', monospace;
            size: 18px;
          }
        }
      }
      .timer{
        position: relative;
        margin:24px auto;
        width: 300px;
        height: 30px;
        border-radius: 15px;
        box-shadow:$shadow;
        background: #fff;
        padding: 0;

        .timer_in{
          overflow:hidden;
          position: relative;
          height: 30px;
          width: 300px;
          margin:0;
        }
        .timer_highlight{ 
          position:absolute;
          left:10px;
          top: 4px;
          margin: 0 auto;
          background:rgba(255,255,255,.5);
          width: 280px;
          height:10px;
          border-radius: 6px;
        }
        .counter{
          width: 300px;
          border-radius: 15px;
          height: 30px;
          background: $maincolor;
        }
      }
      //score
#result{
  position:fixed;
  box-shadow: 0 0 15px rgba(56, 178, 205, 0.3);
  top:50%;
  left:50%;
  background: #fff;
  padding: 60px;
  text-align: center;
  display: flex;
  @include transform(translateX(-50%) translateY(-50%));
  font: {
    size: 24px;
    family: 'VT323', monospace;
  }
  #asrImg{ 
    width: 310px;
    max-width: 100%;
    display: block;
    margin: 10px auto; 
  }
  .asrColr{
    color: $maincolor;
  
  }
  .score{
    margin: 0px auto 8px;
    line-height: 1.4;
  }
  .score_visWrap{
    display: flex;
  }
  .visWrapper{
    width: 70px;
    height:70px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    margin:16px 5px 32px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .answerWrapMsg{
    margin-top: 32px;
    font-size: 21px;
  }
  .inputAnswerWrap{
    height: 190px;
    margin-top: 16px;
    border-radius: 6px;
    overflow:hidden;
    border: 1px solid rgba(0,0,0,0.2);
    .convo{
      width: 100%;
      .convo_inner{
        width: 100%;
        
      }
    }
  }
}

      @include keyframes(timer){
        from{stroke-dashoffset: 0px;}
        to{stroke-dashoffset: 400px;}
      }
      #hintDisplay{
        position: fixed;
        top: 50%;
        margin: 0 auto;
        left: 50%;
        color: $maincolor;
        @include transform(translateX(calc(-50%)) translateY(-280px));
        font: {
          size: 32px;
          family: 'VT323', monospace;
        }
      }
      #hint, #pause{
        position:fixed;
        box-shadow: 0 0 15px rgba(56, 178, 205, 0.3);
        top:30%;
        left:50%;
        background: #fff;
        padding: 30px 60px;
        text-align: center;
        @include transform(translateX(-50%) translateY(-50%));
        font: {
          size: 32px;
          family: 'VT323', monospace;
        }
        .hinttop{
          font-size: 24px;
          line-height: 2;
        }
        .hintWrapper{
          display:flex;
          justify-content: center;
          .hintCard{
            margin: 26px 10px 5px;
            padding: 10px 20px;
            border: 4px solid $maincolor; 
            border-radius: 6px;
            color: $maincolor;
            // cursor: pointer;
            font-family:'Share Tech Mono', monospace;
            font-size: 16px;
            &.active{
              cursor: pointer;
            }
            &.plyr1{
              border: 4px solid $plyr1;
              background: $plyr1;
              color: #fff;
            }
              &.plyr2{
                border: 4px solid $plyr2;
                background: $plyr2;
                color: #fff;
              }
              &.plyr3{
                border: 4px solid $plyr3;
                background: $plyr3;
                color: #fff;
              }
          }
        }
        #hintTimer, #pauseTimer{
          position: relative;
          // border: 6px solid $maincolor;
          border-radius: 60px;
          width: 120px;
          height: 120px;
          margin: 40px auto 10px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          font: {
            size: 52px;
            family: 'VT323', monospace;
          }
          svg{
            position: absolute;
            left:0;
            top:0;
          }
          circle{
            height:120px;
            width: 120px;
            fill: none;
            &.active{
            @include animation(timer);
          animation: {
            duration: 1s;
            iteration-count: infinite;
            timing-function: linear;
          }
        
            stroke: $maincolor {
              width: 6px;
              dasharray:400px;
              dashoffset: 1000px;
            }
          }
          }
        }
      }
     #hint{
       top: 60%;
       @include transform(translateX(-50%));
       line-height: 1.5;
       font-size: 28px;
       #hintTimer{
         position: absolute;
         top: 0;
         right:64px;
         font-size: 24px;
         width:70px;
         height: 70px;
         circle{
          height: 90px;
          width: 90px;
        }
       }
      
     }
      .title{
        color: rgba(0,0,0,0.8);
        margin-bottom: 30px;
        font: {
          size: 40px;
          family: 'VT323', monospace;
          
        }
      }
     
    }
      .btn-row{
        display:flex;
        flex-direction: row;
        justify-content: center;
      }
}
.btn{
  transition: .3s;
  cursor: pointer;
  padding: 15px 30px;
  margin: 20px;
  border: 1px solid $maincolor;
  color: $maincolor;
  border-radius: 50px;
  font: { 
    family:'Share Tech Mono', monospace;
    size: 18px;
  }
  &:hover{
    background:$maincolor;
    color: #fff;
  }
}
.modal-select{
  font: {
    family: 'VT323', monospace;
  }
  position: relative;
  margin-top: 0;
  transition: .3s;
  width: 95%;
  max-width: 1000px;
  margin:0 auto;
  padding: 16px 16px 100px;
  text-align: center;
  z-index: 999;
  background: #fff;
  #answerImg{
    width: 95%;
    max-width: 300px;
  }
  .title{
    font-size: 28px;
   line-height: 1.2;
   max-width: 350px;
   margin: 0 auto 32px;
  }
  .order{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    background: $maincolor;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: none;
    &.active{
      display: block;
    }
  }
}
.vis-row{
  display: flex;
  flex-direction: row;
  width: 95%;
  max-width: 740px;
  margin:0 auto;
  flex-wrap: wrap;
  justify-content: center;
  div{
    position: relative;
    width: 100%;
    max-width: 128px;
    margin: 1%;
  }
  img{
    border-radius: 6px;
    border: 6px solid #fff;
    width: 100%;
    align-self: center;

   
    &.active{
      cursor: pointer;
    }
    &.active:hover, &.selected{
      border: 6px solid $maincolor;
    }
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#cmu{
  // position:fixed;
  // bottom: 30px;
  // width: 100%;
  text-align: center;
  img{
    width: 260px;
  }
}


