@import "Variables.css";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  font-size: 14px;
  line-height: 150%;
  font-family: 'Montserrat', sans-serif;
}
.App {
  align-self: center;
  background-image: linear-gradient(135deg, #F07676, #F2994A);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
}

.App.Light {
  background: white;
  color: black;
  align-items: center;
}

.HomepageImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.AlignToBottom {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

a {
  color: inherit;
}

.Btn {
  box-shadow: 0px 4px 10px #00000022;
  background-color: white;
  cursor: pointer;
  height: 2.5em;
  padding: .5em 2em 0;
  border-radius: 2em;
}

.Btn.HomepageBtn {
  margin-bottom: 30px;
  color: var(--color-primary);
}

.IntroTitle {
  font-weight: bold;
  font-size: 20px;
  margin: 100px 0 30px;
  align-self: flex-start;
}

.FlexH {
  display: flex;
  flex-direction: row;
}

.IntroExample {
  width: 80px;
}

.IntroExampleMark {
  width: 30px;
  margin: 0 20px;
}

.IntroExampleText {
  font-weight: bold;
  flex-grow: 1;
  align-self: center;
}

.SelfCenter {
  align-self: center;
}

.SpaceBelow {
  margin-bottom: 50px;
}

.SmallSpaceBelow{
  margin-bottom: 10px;
}

.BackHome {
  align-self: flex-start;
}

.ResultTitle {
  color: #F07676;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.ResultTitleSmall {
  margin: 50px 0 10px;
}

.ResultBtns {
  display: flex;
  position: absolute;
  bottom: 50px;
}

.ResultBtns .Btn {
  margin: 10px;
}
